{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="container">
  <img class="container__image" style="border-radius: 5%; border: 2px solid #7a0000;" src="https://api-www.louvre.fr/sites/default/files/2021-03/en-tete-a-tete-avec-la-joconde-appli-vr.jpg"/>
  <div class="container__text">
      <h2 class="sideline">
    <span>About</span>
    </h2>
<p>This is an Machine Learning application for identifying
artists that have the most similar style to the pictures uploaded by the user.</p>
  <p>The algorithms used are CNN's or Convolutional Neural Networks and more specifically ResNets. Deep Learning algorithms, A.I and generally computer intelligence and art
    have a very special relationship and more people and companies are starting to make projects to create models that can understand and create art.
    DALLE-2 is a perfect example, that has taken the whole world by suprise with very realistic representations of the things described. Showing the real possibilities that art and
    machine learning have when combined.
    In the heart of this project is the idea that famous artists have deeply impacted the art that people create, and aims to uncover the similarities that each of the users paintings
    might have with the artists in the database.
  </p>
    <p>Author: Efraim Anastasiadis, 2022</p>
  </div>
</div>
{% include 'footer.html' %}
</body>
</html>